//----------------------------------------------------
// / Card
//----------------------------------------------------

.card {
  border: 1px solid $project-border-color;
  border-radius: $project-border-radius;
  overflow: hidden;
  &.is-width-sm {
    max-width: 820px;
  }
  > .inner {
    padding: 1em;
    @include tablet {
      padding: 2em;
      > .heading:first-child {
        margin-top: -0.325em;
      }
    }
  }
}
