//----------------------------------------------------
// / Logo
//----------------------------------------------------

.logo-illustration {
  display: block;
  width: 60vw;
  max-width: 300px;
}

.logo {
  display: block;
  width: 80vw;
  max-width: 500px;
}
