//----------------------------------------------------
// / Ribbon
//----------------------------------------------------

.ribbon-desc {
  display: block;
  width: 80vw;
  max-width: 500px;
  padding: 0.375em 1em;
  background-color: $project-color-grey;
  border-radius: $project-border-radius;
  color: $light;
  font-weight: 700;
}
