//----------------------------------------------------
// / Space
//----------------------------------------------------

@each $space-x in 2, 3, 4, 5, 6 {
  .is-space-#{$space-x}x {
    > *:not(:first-child) {
      margin-top: $space-x + em;
    }
  }
}

.is-space-quarter {
  > *:not(:first-child) {
    margin-top: 0.25em;
  }
}

.is-space-half {
  > *:not(:first-child) {
    margin-top: 0.5em;
  }
}
