/*----------------------------------------------------
// Theme Light
----------------------------------------------------*/

:root {
  --theme-tx-1: #1a1a1a;
  --theme-tx-2: #4d4c4c;
  --theme-tx-3: #6f6f6f;
  --theme-bg-1: #ffffff;
  --theme-bg-2: #f2f2f2;
  --theme-bg-3: #e4e4e4;
  --theme-lk-1: #00a6dd;
  --theme-lk-2: #0093c4;
  --theme-lk-tx: #ffffff;
  --theme-ac-1: #334750;
}
