/*----------------------------------------------------
// Theme Variable
----------------------------------------------------*/

:root {
  --theme-font-sans: YakuHanRPs, "M PLUS Rounded 1c", Meiryo, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --theme-font-sans-en: YakuHanRPs, "M PLUS Rounded 1c", Meiryo, sans-serif;
  --theme-font-mono: YakuHanRPs, "M PLUS Rounded 1c", Meiryo, sans-serif;
  --theme-site-width: 1140px;
  --theme-card-width: 820px;
}
