.ie-buster-alert {
  position: fixed;
  top: 16px;
  left: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 32px);
  max-width: 866px;
  padding: 16px 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", SegoeUI, "Yu Gothic UI", "Meiryo UI",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  transform: translatex(-50%);
  z-index: 999999;
}

.ie-buster-alert-note {
  flex: 1 0 0%;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.ie-buster-alert-link {
  flex: none;
  display: inline-block;
  height: 36px;
  margin-left: 12px;
  min-width: 80px;
  padding: 0 16px;
  background-color: rgb(0, 120, 212);
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    background-color: rgb(16, 110, 190);
  }
}
