//----------------------------------------------------
// Project Stylesheet
//----------------------------------------------------

//----------------------------------------------------
// / Setting
//----------------------------------------------------

// Project Variable
$project-color-red: #db4437;
$project-color-blue: #05b4ee;
$project-color-green: #0f9d58;
$project-color-yellow: #ffcd40;
$project-color-orange: #ff9800;
$project-color-grey: #334750;
$project-header-height: 56px;
$project-header-height-mobile: 56px;
$project-header-height-desktop: 64px;
$project-header-height-wide: 72px;
$project-border-color: rgba($project-color-grey, 0.6);
$project-border-radius: 3.75px;

// MUSUBii Override Variable
$primary: $project-color-blue;
//$font-sans: YakuHanJPs, "Noto Sans JP", Meiryo, sans-serif;
//$font-serif: YakuHanMPs, "Noto Serif JP", Meiryo, serif;
$font-sans: YakuHanRPs, "M PLUS Rounded 1c", Meiryo, sans-serif;
$code-background-color: $project-color-grey;
$code-text-color: #fff;
$pre-background-color: $project-color-grey;
$pre-text-color: #fff;
//$btn-border-radius: $project-border-radius;
$table-border-color: $project-border-color;
$table-paint-background-color: $project-color-grey;
//$input-border-radius: $project-border-radius;

// Brand Variable
$brand-color-twitter: #1da1f2;
$brand-color-facebook: #3b5998;
$brand-color-google-plus: #dd4b39;
$brand-color-line: #00c300;
$brand-color-hatena-bookmark: #00a4de;
$brand-color-pocket: #ef4056;
$brand-color-feedly: #2bb24c;
$brand-color-rss: #f26522;
$brand-color-paypal: #0070ba;

//----------------------------------------------------
// / Import
//----------------------------------------------------

@import "~moftone/src/scss/tone/_moftone.scss";
//@import "~iostone/src/scss/tone/_iostone.scss";
@import "~sass-dashi/src/scss/_dashi.scss";
@import "~musubii/src/scss/config/_variable.scss";
@import "~shitajicss/src/scss/_shitaji.scss";
@import "~musubii/src/scss/base/_global.scss";
@import "~musubii/src/scss/layout/_section.scss";
//@import "~musubii/src/scss/layout/_grid.scss";
@import "~musubii/src/scss/layout/_space.scss";
@import "~musubii/src/scss/module/_heading.scss";
@import "~musubii/src/scss/module/_text.scss";
@import "~musubii/src/scss/module/_button.scss";
@import "~musubii/src/scss/module/_list.scss";
@import "~musubii/src/scss/module/_table.scss";
//@import "~musubii/src/scss/module/_form.scss";
@import "~musubii/src/scss/module/_icon.scss";
@import "~musubii/src/scss/module/_alert.scss";
//@import "~musubii/src/scss/module/_wysiwyg.scss";
@import "~musubii/src/scss/utility/_size.scss";
@import "~musubii/src/scss/utility/_flex.scss";
@import "~musubii/src/scss/utility/_deco.scss";
@import "~musubii/src/scss/utility/_display.scss";
//@import "~musubii/src/scss/utility/_clearfix.scss";

//----------------------------------------------------
// / Project
//----------------------------------------------------

@import "project/**";
