//----------------------------------------------------
// Stylesheet
//----------------------------------------------------

//----------------------------------------------------
// / Setting
//----------------------------------------------------

// Project Variable
$project-color-red: #db4437;
$project-color-blue: #1ebbee;
$project-color-green: #0f9d58;
$project-color-yellow: #ffcd40;
$project-color-orange: #ff9800;
$project-color-grey: #9e9e9e;
$project-header-height: 56px;
$project-header-height-mobile: 56px;
$project-header-height-desktop: 64px;
$project-header-height-wide: 72px;
$project-border-radius: 3.75px;

// MUSUBii Override Variable
$primary: $project-color-blue;
//$font-sans: YakuHanJPs, "Noto Sans JP", Meiryo, sans-serif;
//$font-serif: YakuHanMPs, "Noto Serif JP", Meiryo, serif;
$font-sans: YakuHanRPs, "M PLUS Rounded 1c", Meiryo, sans-serif;
//$btn-border-radius: $project-border-radius;
//$input-border-radius: $project-border-radius;

// Brand Variable
$brand-color-twitter: #1da1f2;
$brand-color-facebook: #3b5998;
$brand-color-google-plus: #dd4b39;
$brand-color-line: #00c300;
$brand-color-hatena-bookmark: #00a4de;
$brand-color-pocket: #ef4056;
$brand-color-feedly: #2bb24c;
$brand-color-rss: #f26522;

//----------------------------------------------------
// / Import
//----------------------------------------------------

@import "~moftone/src/scss/tone/_moftone.scss";
//@import "~iostone/src/scss/tone/_iostone.scss";
@import "~sass-dashi/src/scss/_dashi.scss";
@import "~musubii/src/scss/config/_variable.scss";
@import "~shitajicss/src/scss/_shitaji.scss";
@import "~musubii/src/scss/base/_global.scss";
@import "~musubii/src/scss/layout/_section.scss";
//@import "~musubii/src/scss/layout/_grid.scss";
@import "~musubii/src/scss/layout/_space.scss";
@import "~musubii/src/scss/module/_heading.scss";
@import "~musubii/src/scss/module/_text.scss";
@import "~musubii/src/scss/module/_button.scss";
@import "~musubii/src/scss/module/_list.scss";
@import "~musubii/src/scss/module/_table.scss";
//@import "~musubii/src/scss/module/_form.scss";
@import "~musubii/src/scss/module/_icon.scss";
@import "~musubii/src/scss/module/_alert.scss";
//@import "~musubii/src/scss/module/_wysiwyg.scss";
@import "~musubii/src/scss/utility/_size.scss";
@import "~musubii/src/scss/utility/_flex.scss";
@import "~musubii/src/scss/utility/_deco.scss";
@import "~musubii/src/scss/utility/_display.scss";
//@import "~musubii/src/scss/utility/_clearfix.scss";

//----------------------------------------------------
// / Project
//----------------------------------------------------

.section.is-header {
  padding: 7.5vh 0;
}

.logo-illustration {
  display: block;
  width: 60vw;
  max-width: 300px;
}

.logo {
  display: block;
  width: 80vw;
  max-width: 500px;
}

.icon {
  width: 1em;
  height: 1em;
}

:not(.btn) > .icon {
  position: relative;
  top: -0.1em;
  + .text {
    margin-left: 0;
  }
}

.box.is-content {
  max-width: 820px;
  padding: 1em;
  border: 1px solid $blue-grey-100;
  border-radius: $project-border-radius;
  @include tablet {
    padding: 2em;
  }
}
